<div class="col-sm-4">
<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="images/shop/product.jpg" alt="">
				<h2>1.250.000 ريال</h2>
				<p>توضیحات کوتـاه محصـول</p>
				<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
			</div>
			<div class="product-overlay">
				<div class="overlay-content">
					<h2>1.250.000 ريال</h2>
					<p>توضیحات کوتـاه محصـول</p>
					<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
				</div>
			</div>
			<img src="images/home/sale.png" class="sale" alt="">
		</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				<li><a href=""><i class="fa fa-plus-square"></i>مشاهده ی جزيیات محصول</a></li>
			</ul>
		</div>
	</div>
</div>
